.onboarding_wrapper{
    position: relative;
    height: 100vh;
    padding: 0px 28px 0 28px;
    background: var(--main-background);
    opacity: 0;
    animation: fadeIn 500ms ease-in-out 1 forwards;
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.onboarding_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0;
}

.onboarding_skip_btn, .onboarding_back_btn{
    cursor: pointer;
}

.onboarding_skip_btn p{
    color: var(--main-dark-orange);
    text-align: right;
    font-family: var(--mulish-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
}

.onboarding_skip_btn p span{
    margin-left: 5px;
}

.onboarding_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: calc(100% - 140px);
    margin-top: 40px;
}

.onboarding_content .onboarding_image{
    margin-bottom: 40px;
}

.onboarding_content h2{
    color: var(--main-black);
    text-align: center;
    font-family: var(--poppins-font);
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 26.4px */
    text-transform: capitalize;
}

.onboarding_content p{
    color: var(--main-grey);
    text-align: center;
    font-family: var(--mulish-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.onboarding_content .onboarding_icon{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.onboarding_btn{
    width: 100%;
}

.onboarding_btn .onboarding_btn_next{
    background-image: url('/public/images/button_corner.png'), linear-gradient(103deg, #FF7F56 0%, rgba(232, 57, 57, 0.80) 100%);
    background-repeat: no-repeat;
    background-position: right bottom;
    width: 100%;
    height: 50px;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 5px;
    color: var(--white-main);
    font-family: var(--mulish-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}