.restaurant_list_wrapper{
    margin-top: 20px;
}

.restaurant_list_title{
    margin-bottom: 16px;
}

.restaurant_list_title h2{
    color: var(--main-black);
    /* headings/H2 */
    font-family: var(--popping-font);
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 26.4px */
    text-transform: capitalize;
}